/results
*.pyc
*.fuse_hidden*
MANIFEST.in
setup.py
dist/
tags
dictol.egg-info/
build/
.vscode
main.py

# meu
Test Propi/
demo output.txt
dictol/dictol.sublime-project
dictol/dictol.sublime-workspace
Exemple d'ús LRSDL/
